* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(185, 41%, 84%);
  color: hsl(186, 14%, 43%);
  padding: 10% 0 0 25%;
}
.mainwrapper{
  padding: 30px;
  max-height: 100%;
  max-width: 700px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}
.form-wrap{
  background-color: white;
  height: 300px;
  max-width: 300px;
  border-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.form{
  padding: 50px;
  background-color:hsl(183, 100%, 15%);
  height: 300px;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.displays:first-child{
  font-size: small;
}.displays:nth-child(2){
  font-size: small;
}
.displays{
  display: grid;
  grid-template: 30px auto / repeat(4, 1fr);
  gap: 20px;
  color:hsl(0, 0%, 100%);
  margin-bottom: 20px;
}
.displays-wrap{
  margin-bottom: 70px;
  
}
.disp{

  font-size: 30px;
  color:hsl(172, 67%, 45%) ;
}
.displays > div > p{
  font-size: 11px;
}
.displays > div{
  width: 100px;
  margin: 0;
}
.form-section1{
  display: flex;
  flex-direction: column;
}
.form-section2{
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}
.button{
  background-color: hsl(183, 100%, 15%);
  padding: 10px;
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  min-width: 90px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

}
.button:hover{
  background-color:hsl(172, 67%, 45%);
  padding: 10px;
  color:hsl(183, 100%, 15%);
  border: none;
  border-radius: 5px;
  min-width: 89px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

}
#custom{
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  cursor: pointer;
}
#reset{
  background-color: hsl(172, 67%, 45%);
  color:hsl(183, 100%, 15%) ;
  font-weight: 700;
  width: 200px;
  cursor: pointer;
}
input{
  padding: 5px;
  max-width: 280px;
  border: none;
  border-radius: 5px;
  background-color: hsl(189, 41%, 97%);
  text-align:end;
  font-size: 24px;
  font-family: "Space Mono", monospace;

}
.input{
  padding-left: 10px;
  align-items: first baseline;
  max-width: 300px;
  border: none;
  border-radius: 5px;
  background-color: hsl(189, 41%, 97%);
  display: flex;
}
input:focus{
  transform: none;
  transition: none;
  border: none;
  background-color: hsl(189, 41%, 97%);;
  color:  hsl(183, 100%, 15%);

}
img {
  max-width: 20px;
}